<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/NoDreamWeb/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="NoDreamWeb" />
      <add key="ClearTextPassword" value="d241ea67bda1c6db63a3654ab519884074b11a3f" />
    </github>
  </packageSourceCredentials>
</configuration>