<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/NoDreamWeb/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="NoDreamWeb" />
      <add key="ClearTextPassword" value="33ab030272a734314b3e7e3f6f8e7749752093d3" />
    </github>
  </packageSourceCredentials>
</configuration>